/* Reset.less
 * Props to Eric Meyer (meyerweb.com) for his CSS reset file. We're using an adapted version here that cuts out some of the reset HTML elements we will never need here (i.e., dfn, samp, etc).
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul {
  list-style: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.431rem;
  font-color: #333333;
}
h1 {
  font-size: 4.429rem;
  line-height: 5rem;
}
h2 {
  font-size: 2.857rem;
  line-height: 4.5rem;
}
h3 {
  font-size: 2.857rem;
  line-height: 4rem;
}
h4 {
  font-size: 2.271rem;
  line-height: 3.5rem;
  font-weight: 300;
  line-height: 2.5rem;
  letter-spacing: 0.02rem;
  padding-top: 1.75rem;
  padding-bottom: 0.25rem;
}
h5 {
  font-size: 1.6rem;
  line-height: 3rem;
  color: #333333;
  font-weight: 200;
  line-height: 2.70rem;
  letter-spacing: 0.05rem;
  padding-top: 0.25rem;
}
h6 {
  font-size: 1.15rem;
  line-height: 2.5rem;
  color: #434a54;
  padding-top: 1.75rem;
  margin-bottom: 0.25rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #333333;
}
p {
  color: #999999;
  font-weight: 300;
}
footer {
  border-top: 1px solid #dadada;
}
.ui-images img {
  border: 1px solid #dadada;
  margin-right: 4rem;
}
.ui-icons i {
  margin-right: 2rem;
  font-size: 3rem;
  padding-bottom: 0.5rem;
  padding-top: 3rem;
}
.ui-icons code {
  font-size: 1rem;
}
.intro-text-container {
  background-color: rgba(51, 51, 51, 0.12);
  margin-top: 4rem;
  text-align: center;
  border-radius: 0.25rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.intro-text {
  font-size: 2.271rem;
  color: #cc0000;
  font-weight: 200;
  line-height: 3.5rem;
  letter-spacing: 0.1rem;
  display: block;
  margin-bottom: 2rem;
  margin-left: 8rem;
  margin-right: 8rem;
}
.sitemap a {
  color: #999999;
  font-weight: 300;
}
.sitemap a:hover {
  color: #333333;
  transition: 0.5s;
}
.sitemap a:focus {
  outline: none;
  text-decoration: none;
}
.sitemap li {
  color: #999999;
  line-height: 2.4rem;
  font-size: 1.5rem;
  cursor: default;
}
.copyright {
  padding-left: 1rem;
  padding-top: 3rem;
  opacity: 0.9;
}
.copyright p {
  line-height: 3rem;
}
@media screen and (max-width: 991px) {
  .copyright .row div {
    text-align: center;
  }
  .copyright .row div p {
    text-align: center;
  }
  .copyright .row div p.pull-right {
    float: none !important;
  }
  .copyright .row div img.pull-left {
    float: none !important;
  }
  .copyright .row div:nth-child(2) p {
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 8px;
  }
}
.btn {
  font-family: "Open Sans", sans-serif;
  color: #656d78;
}
.btn-primary {
  font-weight: 600;
  background-color: #cc0000;
  border-color: #cc0000;
  color: #f26d37;
}
.btn-primary:hover {
  background-color: #f26d37;
  border-color: #f26d37;
}
.btn-primary:active {
  background-color: #f15f24;
  border-color: #f26d37;
}
.btn-primary:focus {
  color: #cc0000;
  background-color: #f15f24;
  border-color: #f26d37;
  outline: none;
}
.btn-secondary {
  color: #f26d37;
}
.btn-secondary:hover {
  color: #f59067;
}
.btn-secondary:active {
  box-shadow: none;
  color: #e74d0f;
}
.btn-link {
  font-weight: 700;
  font-size: 12px;
  color: #cc0000;
  letter-spacing: 0.56px;
  line-height: 17px;
  text-transform: uppercase;
}
.btn-link:hover,
.btn-link:focus {
  text-decoration: none;
  background-color: #1a1a1a;
  color: #cc0000;
  border-radius: 0.5rem;
  outline: none;
}
header {
  background-color: #cc0000;
  min-height: 20px;
}
.section-content {
  margin-bottom: 4rem;
  padding-bottom: 2rem;
}
.section-title {
  font-family: "Open Sans", sans-serif;
  font-size: 2.271rem;
  color: #555555;
  border-bottom: 1px solid #999999;
  padding-bottom: 0.25rem;
  display: block;
}
.section-subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  display: block;
  margin-top: 2rem;
  margin-left: 1rem;
  color: #999999;
}
.navbar-brand img {
  max-height: 2.5rem;
}
.color-elements {
  font-family: "Open Sans", sans-serif;
}
.color-elements span {
  color: #ffffff;
  display: inline-block;
  text-align: center;
  height: 6rem;
  min-width: 15rem;
  padding: 2rem;
  margin: 1rem;
  border-radius: 0.75rem;
  font-weight: 400;
}
.card-container {
  box-sizing: border-box;
  background-color: #cc0000;
  min-height: 36rem;
  overflow: hidden;
  display: block;
  border-right: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee;
  text-align: center;
}
.card-container h6 {
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}
.card-container p {
  margin-bottom: 4rem;
  text-align: left;
}
.card-container img {
  padding-top: 1.5rem;
}
.card-container .btn {
  position: absolute;
  right: 0;
  bottom: 0;
}
.card-container:nth-child(1) {
  border-left: 1px solid #eeeeee;
}
.card-container-alt {
  background-color: #ffffff;
  min-height: 16rem;
  margin-bottom: 2rem;
  border: 0.5rem solid #999999;
  border-radius: 1rem;
  overflow: hidden;
  display: block;
}
