// Layout
// ==========================

.section-content {
  margin-bottom: 4rem;
  padding-bottom: 2rem;
}

.section-title {
  font-family: "Open Sans", sans-serif;
  font-size: @h5;
  color: @gray;
  border-bottom: 1px solid @gray-lighter;
  display: block;
  margin-bottom: .25rem;
  line-height: 2rem;
  padding-top: 2rem;
}

.section-subtitle {
  font-family: @base-font-family;
  font-size: @h6;
  text-transform: uppercase;
  display: block;
  margin-top: 1rem;
  color: @gray-light;
}
